{% extends 'Jaguarete_App/layout.html' %}

{% block title %}About Us{% endblock %}

{% load static %}

{% block content %}

    <h3 style="text-align: center;">Acerca de nuestro comercio</h3>
    <img src="{% static '/imagenes/imagen-ejemplo.jpg' %}" alt="" width="500" height="300" style="margin: 10px auto 10px; display: block;">
    <div class="d-flex justify-content-center"">
        <p style="text-align: center; margin: 10px 10px 30px 30px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus nesciunt vero deserunt alias debitis dicta dolore, nostrum in aliquid! Velit, sint! Atque voluptas corporis odit necessitatibus. Laborum soluta voluptate voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed officia quisquam laudantium amet! Consequuntur voluptatum suscipit debitis autem voluptas mollitia. Aspernatur cupiditate iusto maxime nam obcaecati facilis. Doloremque, id mollitia? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi amet hic laboriosam error natus repellat quidem in. Similique voluptatibus rem molestias repellat laudantium magni. Aliquam deserunt repudiandae perferendis necessitatibus.</p>
    </div>
    
{% endblock %}